#Title{
    background-color: gray;
    text-shadow: 12px 12px 20px white;;
    padding: 20px;
}
#Body{
    background-color: rgb(177, 163, 163);
    padding: 20px;
}
#Feet{
    background-color: gray;
    padding: 20px;
    
}
h1{
    color: hotpink;
    font-size: 30px;
    border-bottom: 3px black;
    margin-left: 40px;
    text-align: center;
    text-transform: uppercase ;
}
h2{
    color: pink;
    font-size: 30px;
    border-bottom: 1px black;
    margin-left: 50px;
    
}
body{
    background-color: rgb(200, 175, 151);
}
b{
    font-weight: 1500;
}
ins{
    color:beige;
    text-align: center;
    text-decoration: underline dashed black;
    font-weight: 50;
}